.wrapper{
    width: 98vw;
    margin: 0 auto;
    text-align: center;
    font-family: 'Lato', Open Sans;
    position: relative;
}
/* Font styles */
.font--white{color: #fff;}

/*===========================================================.Header styles====================================================================*/
.header__wrapper{
    position: relative;
}
.header__bg{
    width: 98vw;
    box-sizing: border-box;
}
.header__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30.5vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.header__ico{
    width: 3.5vw;
}
.header__logo{
    margin-bottom: 8.5vh;
}
.header__title{
    font-size: 5.4vh;
    letter-spacing: 1.2vh;
    line-height: 7.5vh;
    text-transform: uppercase;
    width: 32vw;
    margin-bottom: 3vh;
}
.header__subtitle{
    text-transform: uppercase;
    width: 31.5vw;
    font-size: 1.6vh;
    letter-spacing: 0.127vh;
    line-height: 3.2vh;
}

/*===========================================================.About styles====================================================================*/
.about{
    position: relative;
    height: 68vh;
    width: 98vw;
    box-sizing: border-box;
}
.about__border{
    width: 46.2vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.about__title{
    font-size: 3.65vh;
    letter-spacing: 0.28vw;
    position: absolute;
    top: 14.8vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #3c3c3c;
}
.about__subtitle{
    font-size: 1.8vh;
    letter-spacing: -0.018vw;
    line-height: 1.5em;
    width: 27.5vw;
    position: absolute;
    top: 24.5vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.about__subtitle--narrow{
    position: absolute;
    width: 24vw;
    top: 35vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*==========================================================.Services styles===================================================================*/
.services{
    position: relative;
    width: 98vw;
    box-sizing: border-box;
}
.services__bg{
    width: 98vw;
    box-sizing: border-box;
}
.services__border{
    width: 46.2vw;
    position: absolute;
    top: 2vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.services__title{
    position: absolute;
    top: 12.1vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 3.5vh;
    letter-spacing: 0.34vw;
}
.services__subtitle{
    font-size: 1.7vh;
    letter-spacing: 0.003vw;
    line-height: 1.65em;
}
.services__subtitle-box{
    position: absolute;
    top: 22vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 28.6vw;
}

/*==========================================================.Function styles===================================================================*/
.function{
    position: relative;
    height: 154vh;
    box-sizing: border-box;
    margin-bottom: -11.5vh;
}
.function__border{
    width: 46.2vw;
    position: absolute;
    top: -22vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.function__content{
    margin: 0 auto;
    width: 40vw;
    margin-top: 10vh;
    box-sizing: border-box;
}
.function__main-title{
    font-size: 3.8vh;
    letter-spacing: 0.25vw;
}
.function__section{
    margin: 10.8vh auto;
}
.function__img{
    width: 4.1vw;
    margin-bottom: 3.6vh;
}
.function__img--margin{
    margin-top: -1.3vh;
}

.function__title{
    font-size: 2.2vh;
    letter-spacing: 0.15vw;
    margin-bottom: 2.8vh;
}
.function__title--margin{
    margin-bottom: 4vh;
    letter-spacing: 0.2vw;
}
.function__subtitle{
    font-size: 1.5vh;
    letter-spacing: -0.01vh;
    line-height: 2.8vh;
    width: 30vw;
    margin: 0 auto;
}

/*==========================================================.nav styles========================================================================*/
.nav{
    display: flex;
    flex-direction: row;
    width: 98vw;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}
.nav__img{
    width: 28vw;
}
.nav__img--wide{
    width: 40.841vw;
}
.nav__container{
    box-sizing: border-box;
    margin: 0.15vh 0vw;
    position: relative;
}
.nav__title{
    position: absolute;
    bottom: 4.2vh;
    left: 2vw;
    text-transform: uppercase;
    font-size: 3.8vh;
    letter-spacing: 0.28vw;
    z-index: 500000;
}

/*==========================================================.footer styles=====================================================================*/
.footer{
    position: relative;
    box-sizing: border-box;
    height: 40vh;
}
.footer__border{
    width: 46.2vw;
    position: absolute;
    top: 20vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.footer__title{
    text-transform: uppercase;
    font-size: 3.2vh;
    position: absolute;
    top: 13vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    letter-spacing: 0.25vw;
}
.footer__subtitle{
    position: absolute;
    top: 22vh;
    width: 30vw;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 1.8vh;
    line-height: 2.8vh;
    letter-spacing: -0.0156vw;
}
.footer__button{
    position: absolute;
    background: #3c3c3c;
    width: 20.3vw;
    height: 6.5vh;
    top: 35.5vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.15vw;
    font-size: 1.7vh;
    border: none;
}
.footer__logo{
    position: absolute;
    bottom: -17vh;
    left: 40.5vw;
    width: 1.9vw;
}

.footer__ar{
    position: absolute;
    bottom: -7.6vw;
    left: 44.2vw;
    font-size: 1.5vh;
}
/*======================================================================Finish================================================================*/

.scroll-ico{
    width: 1.2vw;
    position: fixed;
    bottom: 11.5vh;
    left: 48.85vw;
    z-index: 2;
    color: rgba(165, 52, 52, 0.562);
}
.footer__button:hover{
    background: #6b6767;
}
.nav__container:hover .nav__img{
    filter: brightness(60%);
}
.function__img:hover{
    fill: rgb(10, 67, 151);
}
*{transition: all .2s ease-in;}